In [1]:
import pandas as pd

df = pd.read_csv("../../data/Sales.csv", index_col=0, parse_dates=True)
df.head()

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [6]:
df.columns

Index(['Day', 'Month', 'Year', 'Customer_Age', 'Age_Group', 'Customer_Gender',
       'Country', 'State', 'Product_Category', 'Sub_Category', 'Product',
       'Order_Quantity', 'Unit_Cost', 'Unit_Price', 'Profit', 'Cost',
       'Revenue'],
      dtype='object')

In [38]:
df.groupby("Product_Category")[["Profit", "Revenue"]].sum().sort_values(by="Profit", ascending=False)

                    Profit   Revenue
Product_Category
Bikes             20519276  61782134
Accessories        8862377  15117992
Clothing           2839447   8370882

In [ ]:
top_profit_subcat = (
    df.groupby(["Age_Group", "Customer_Gender", "Sub_Category"])["Profit"]
      .sum()
      .reset_index()
      .sort_values(["Age_Group", "Customer_Gender", "Profit"], ascending=[True, True, False])
)

top1_profit_subcat = top_profit_subcat.groupby(["Age_Group", "Customer_Gender"]).head(1)
print(top_profit_subcat)

          Age_Group Customer_Gender     Sub_Category   Profit
11   Adults (35-64)               F       Road Bikes  2467188
10   Adults (35-64)               F   Mountain Bikes  2069890
7    Adults (35-64)               F          Helmets   875942
15   Adults (35-64)               F    Touring Bikes   649080
14   Adults (35-64)               F  Tires and Tubes   608550
..              ...             ...              ...      ...
119     Youth (<25)               M      Bike Stands    24162
118     Youth (<25)               M       Bike Racks    11231
122     Youth (<25)               M         Cleaners     9488
131     Youth (<25)               M            Socks     9349
121     Youth (<25)               M             Caps     5516

[135 rows x 4 columns]

In [64]:
total_sales = df.groupby(["Year", "Age_Group", "Country", "Product_Category", "Sub_Category", "Product"])[["Profit", "Order_Quantity"]].sum().sort_values(by="Profit", ascending=False).reset_index()
total_sales[total_sales["Product_Category"] == "Bikes"][total_sales["Country"] == "United States"]
# total_sales

C:\Users\organ\AppData\Local\Temp\ipykernel_5456\450860266.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  total_sales[total_sales["Product_Category"] == "Bikes"][total_sales["Country"] == "United States"]

,Year,Age_Group,Country,Product_Category,Sub_Category,Product,Profit,Order_Quantity
0,2016,Adults (35-64),United States,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",95434,111
1,2012,Adults (35-64),United States,Bikes,Road Bikes,"Road-150 Red, 52",79939,62
2,2015,Adults (35-64),United States,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",77215,99
3,2016,Adults (35-64),United States,Bikes,Mountain Bikes,"Mountain-200 Black, 46",76974,90
4,2011,Adults (35-64),United States,Bikes,Road Bikes,"Road-150 Red, 48",76350,77
...,...,...,...,...,...,...,...,...
7463,2016,Youth (<25),United States,Bikes,Road Bikes,"Road-750 Black, 58",120,1
7464,2013,Adults (35-64),United States,Bikes,Road Bikes,"Road-750 Black, 58",120,1
7531,2011,Seniors (64+),United States,Bikes,Road Bikes,"Road-750 Black, 58",77,1
7532,2011,Youth (<25),United States,Bikes,Road Bikes,"Road-750 Black, 48",77,1
7533,2014,Youth (<25),United States,Bikes,Road Bikes,"Road-750 Black, 48",77,1

In [59]:
top_sale_per_year = (df.groupby(["Year", "Product"])["Profit"].sum().reset_index().sort_values(["Year", "Profit"], ascending=[True, False]).groupby("Year").head(5))
print(top_sale_per_year)

     Year                  Product  Profit
31   2011         Road-150 Red, 62  219232
28   2011         Road-150 Red, 48  203554
30   2011         Road-150 Red, 56  175668
29   2011         Road-150 Red, 52  163485
7    2011   Mountain-200 Black, 38  139461
96   2012         Road-150 Red, 62  221576
93   2012         Road-150 Red, 48  207632
95   2012         Road-150 Red, 56  187860
94   2012         Road-150 Red, 52  173605
92   2012         Road-150 Red, 44  139620
231  2013    Sport-100 Helmet, Red  266078
229  2013  Sport-100 Helmet, Black  263773
162  2013   Mountain-200 Black, 38  246204
230  2013   Sport-100 Helmet, Blue  227980
166  2013  Mountain-200 Silver, 42  215188
361  2014    Sport-100 Helmet, Red  337916
359  2014  Sport-100 Helmet, Black  316126
360  2014   Sport-100 Helmet, Blue  304300
266  2014    Fender Set - Mountain  208470
295  2014  Mountain-200 Silver, 38  176022
422  2015   Mountain-200 Black, 38  360619
426  2015  Mountain-200 Silver, 42  335263
451  2015         Road-150 Red, 62  324152
425  2015  Mountain-200 Silver, 38  297130
423  2015   Mountain-200 Black, 42  284063
621  2016    Sport-100 Helmet, Red  327494
619  2016  Sport-100 Helmet, Black  304574
620  2016   Sport-100 Helmet, Blue  295629
556  2016  Mountain-200 Silver, 42  258800
552  2016   Mountain-200 Black, 38  258197

In [ ]:
top_cat_by_gender_age = (
    df.groupby(["Age_Group", "Customer_Gender", "Sub_Category"])["Order_Quantity"]
      .sum()
      .reset_index()
      .sort_values(["Age_Group", "Customer_Gender", "Order_Quantity"], ascending=[True, True, False])
)

top1_cat_by_gender_age = top_cat_by_gender_age.groupby(["Age_Group", "Customer_Gender"]).head(1)

print(top1_cat_by_gender_age)

In [65]:
top_year_sales = (df.groupby(["Year", "Country", "Product_Category"])["Profit"].sum().reset_index().sort_values(["Year", "Profit"], ascending=[True, False]))
top5_year_sales = top_year_sales.groupby("Year").head(5)

print(top5_year_sales)

    Year         Country Product_Category   Profit
5   2011   United States            Bikes  1015663
0   2011       Australia            Bikes   710466
4   2011  United Kingdom            Bikes   303817
1   2011          Canada            Bikes   303494
2   2011          France            Bikes   277373
11  2012   United States            Bikes  1055889
6   2012       Australia            Bikes   716091
7   2012          Canada            Bikes   319965
10  2012  United Kingdom            Bikes   308917
8   2012          France            Bikes   279851
28  2013   United States            Bikes  1058136
13  2013       Australia            Bikes   882677
27  2013   United States      Accessories   710939
25  2013  United Kingdom            Bikes   478273
12  2013       Australia      Accessories   345032
46  2014   United States            Bikes   865954
45  2014   United States      Accessories   862424
31  2014       Australia            Bikes   469451
43  2014  United Kingdom            Bikes   461304
30  2014       Australia      Accessories   425523
64  2015   United States            Bikes  1556402
49  2015       Australia            Bikes  1356157
61  2015  United Kingdom            Bikes   718532
63  2015   United States      Accessories   690151
58  2015         Germany            Bikes   507968
82  2016   United States            Bikes  1266725
81  2016   United States      Accessories   831587
79  2016  United Kingdom            Bikes   703296
67  2016       Australia            Bikes   702515
76  2016         Germany            Bikes   541564